#pst-container {
    position: absolute;
    font-size: 14px;
    color: black;
    padding: 2px;
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-family: inherit;
    white-space: nowrap;
    max-width: 300px ;
    overflow: hidden ;
    text-overflow: ellipsis;
    text-align: right;
    margin-top: 35px;
}

@media (max-width: 320px) {
    #pst-container { top: 287px; }
}

@media (min-width: 321px) and (max-width: 375px) {
    #pst-container { top: 225px; }
}

@media (min-width: 376px) and (max-width: 425px) {
    #pst-container { top: 247px !important; }
}

@media (min-width: 426px) and (max-width: 500px) {
    #pst-container {
        top: 220px;
        right: 15px;
    }
}

@media (min-width: 501px) and (max-width: 699px) {
    #pst-container {
        top: 180px !important;
        right: 15px !important;
    }
}

@media (min-width: 700px) and (max-width: 768px) {
	header.container-masthead #pst-container {
        position: absolute !important;
        top: 60px !important;
        text-align: right !important;
    }
    #pst-container {
        top: 40px !important;
        right: 15px !important;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    #pst-container {
        position: absolute !important;
        top: 10px !important;
        right: 15px !important;
        text-align: right !important;
        background: none !important;
        z-index: 1000 !important;
    }
    .container-masthead .row {
        position: relative !important;
    }
}

@media (max-width: 700px) {
    .container-masthead {
        min-height: 220px !important;
        padding-bottom: 20px !important;
    }
}

@media (max-width: 699px) {
    .container-masthead {
        min-height: 240px;   
        padding-bottom: 20px;
    }
}