.wp-block-columns.alignwide {
  display: flex;
}

.wp-block-columns.alignwide > .wp-block-column:first-child {
  flex-basis: 30%;
  max-width: 30%;
  margin-right: 20px;
}

.wp-block-columns.alignwide > .wp-block-column:last-child {
  flex-basis: 70%; 
  max-width: 70%;
}

.wp-block-column figure.wp-block-post-featured-image {
  width: 100%;
  height: auto;
}

.wp-block-column figure.wp-block-post-featured-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
	border-radius: 10px
}

#news, 
.info {
  display: flex;
  flex-direction: column;
  /*align-items: center; 
  padding-left: 0px; */
}

@media (max-width: 768px) {
  .wp-block-columns.alignwide {
    flex-direction: column;
  }
  .wp-block-columns.alignwide > .wp-block-column {
    max-width: 100% !important;
    flex-basis: 100% !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    align-items: center !important;
  }
  #news, .info {
    padding-left: 0 !important;
  }
  #news h2, .info h2 {
    padding-left: 0 !important;
  }
}

